<h3>
    <%= @members.count %> Results
</h3>
<div class='results'>

    <% @members.by_seniority.each do |member| %>
        <div class='representative'>
            <p><b>Name:</b>
                <%=member.name%>
            </p>
            <p><b>Role:</b>
                <%=member.party%>
            </p>
            <p><b>Party:</b>
                <%=member.role%>
            </p>
            <p><b>District:</b>
                <%=member.district%>
            </p>
        </div>
        <%end%>
</div>